/* styles.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  --background-color: #f4f7f9;
  --text-color: #333;
  --container-bg: #ffffff;
  --item-bg: #f9f9f9;
  --item-border: #e0e0e0;
  --button-bg: #333;
  --button-text: #fff;
  --convert-button-bg: #007bff;
  --convert-button-text: #fff;
}

body.dark {
  --background-color: #1a1a1a;
  --text-color: #f4f7f9;
  --container-bg: #2c2c2c;
  --item-bg: #3c3c3c;
  --item-border: #555555;
  --button-bg: #f4f7f9;
  --button-text: #333;
  --convert-button-bg: #007bff;
  --convert-button-text: #fff;
}

.container {
  background: var(--container-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s, color 0.3s;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0 3rem;
  text-align: center;
  text-wrap: wrap;
}

#themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.5em;
  position: absolute;
  right: 20px;
  justify-content: flex-end;
}

.upload-section,
.settings-section,
.action-section,
.preview-section,
.history-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  font-size: 1.2em;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 10px;
  position: relative;
  text-align: center;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-upload:hover {
  background: var(--button-bg);
  color: var(--button-text);
}

.upload-icon {
  font-size: 1.5em;
  margin-left: 1rem;
}

#dropZone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 150px;
  border: 2px dashed var(--text-color);
  border-radius: 12px;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  margin-top: 10px;
}

#dropZone.dragover {
  background: var(--button-bg);
  color: var(--button-text);
}

.settings-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

label {
  font-size: 1em;
}

select,
input[type="range"],
input[type="number"],
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1em;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

select {
  background: var(--container-bg);
  color: var(--text-color);
}

button {
  background: var(--button-bg);
  color: var(--button-text);
}

button:hover {
  background: var(--button-text);
  color: var(--button-bg);
}

#convertButton {
  background: var(--convert-button-bg);
  color: var(--convert-button-text);
}

#convertButton:hover {
  background: var(--convert-button-text);
  color: var(--convert-button-bg);
}

.custom-dimensions.hidden {
  display: none;
}

.preview-section,
.history-section {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
}

.preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: var(--item-bg);
  border: 2px solid var(--item-border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
}

.preview-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.preview-item span {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.preview-item .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.preview-item button {
  width: 40px;
  height: 40px;
  background: var(--button-bg);
  transition: all 0.3s ease;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--button-text);
}

.preview-item button svg {
  fill: var(--button-text);
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.preview-item button:hover {
  background: var (--button-text);
  color: var(--button-bg);
}

.preview-item button:hover svg {
  fill: var(--button-bg);
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* Añadido para permitir que los botones se ajusten si es necesario */
  width: 100%;
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

/* Estilos para el grupo de checkboxes */
.checkbox-group {
  display: flex;
  gap: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Animación de carga */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  flex-direction: column;
}

#loadingBar {
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

#loadingProgress {
  height: 20px;
  width: 0;
  background: #333;
  border-radius: 10px;
}

#loadingText {
  margin-top: 20px;
  color: #fff;
  font-size: 1.2em;
}
